@import '../../assets/less/color.less';


.index {
    
}



.index-container {
    padding-bottom: 140px;
    background: @gray-2;
}

.footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-top: 1px solid @gray-6;
    padding: 18px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: @gray-1;
    .nav {
        color: @gray-6;
        flex-direction: column;
        text-align: center;
        .at-icon-block {
            display: block;
        }
    }
    .nav.current {
        color: @blue-6;
    }
}